################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestGG/v15
/TestGG/obj/Release
/TestGG/TestResults
*.sqlite
/.vs
